<template>
    <div class="container-fluid">

        <div class="row">
            <div class="col-12">
                <h3>Contacts</h3>
            </div>
        </div>
        <div class="row my-3">
            <div class="col-12">
                <div class="d-flex justify-content-between">
                    <div>
                        <b-form-input
                            v-model="search.key"
                            type="text"
                            v-on:keypress.enter="onSubmitSearch"
                            placeholder="Search"
                        ></b-form-input>
                    </div>
                    <div>
                        <b-form-input
                            v-model="search.follow"
                            type="number"
                            @change="onSubmitSearch"
                            placeholder="number Follow ups"
                        ></b-form-input>
                    </div>
                    <div>
                        <b-form-input
                            v-model="search.date"
                            type="date"
                            @change="onSubmitSearch"
                            placeholder="number Follow ups"
                        ></b-form-input>
                    </div>
                    <div>
                        <b-form-select
                            v-model="search.running"
                            type="date"
                            @change="onSubmitSearch"
                            placeholder="number Follow ups"
                        >
                            <b-form-select-option value=""> All</b-form-select-option>
                            <b-form-select-option value="running"> Active</b-form-select-option>
                            <b-form-select-option value="stopped"> DeActive</b-form-select-option>
                        </b-form-select>
                    </div>
                    <div>
                        <a @click="onSubmitSearch" class="btn btn-sm btn-outline-success">
                            Search
                        </a>
                    </div>
                    <div>
                        <a @click="$bvModal.show('bv-modal-example')" class="btn btn-sm btn-outline-success">
                            Add Contact
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-2 mt-lg-5">
            <div class="col-12">

                <div class="table">
                    <div class="table-body">
                        <div class="table-row" v-for="(item,key) in tableRecords">
                            <div class="table-col">
                                {{ item.name }} <small>({{ item.group_name }})</small>
                            </div>
                            <div class="table-col">
                                {{ item.email }}
                            </div>
                            <div class="table-col">
                                {{ item.business_name }}
                            </div>
                            <div class="table-col">
                                {{ item.sequence.name }}
                            </div>
                            <div class="table-col">
                                {{ item.last_email_at | moment("MMMM d") }}
                            </div>
                            <div class="table-col">
                                {{ item.created_at | moment("MMMM d") }}
                            </div>
                            <div class="table-col">
                                {{ item.follow_up }}
                            </div>
                            <div class="table-col">
                                <a href="javascript:void(0)"
                                   class="btn btn-sm btn-info text-white" @click="onEditItem($event,item)"> Edit </a>
                                <a href="javascript:void(0)" v-if="item.running === false"
                                   class="btn btn-sm btn-success" @click="onSubmitRun($event,item)"> Run </a>
                                <a href="javascript:void(0)" v-if="item.running === true"
                                   class="btn btn-sm btn-disabled" @click="onSubmitStop($event,item)"> Stop </a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <pagination :data="tableData" :limit="5" @pagination-change-page="getResults"></pagination>
            </div>
        </div>

        <b-modal id="bv-modal-example" hide-footer>
            <template #modal-title>
                Add Contact
            </template>
            <div class="d-block">
                <b-form @submit="onSubmitForm" @reset="onResetAddContact">
                    <b-form-group id="input-group-2" label="Your Name:" label-for="input-2">
                        <b-form-input
                            id="input-2"
                            v-model="form.name"
                            placeholder="Enter name"
                            required
                        ></b-form-input>
                    </b-form-group>

                    <b-form-group
                        id="input-group-1"
                        label="Email address:"
                        label-for="input-1"
                    >
                        <b-form-input
                            id="input-1"
                            v-model="form.email"
                            type="email"
                            placeholder="Enter email"
                            required
                        ></b-form-input>
                    </b-form-group>

                    <b-form-group
                        id="input-group-3"
                        label="Business name"
                        label-for="input-3"
                    >
                        <b-form-input
                            id="input-3"
                            v-model="form.business"
                            type="text"
                            placeholder="Enter business name"
                        ></b-form-input>
                    </b-form-group>
                    <b-form-select
                        id="input-4"
                        :options="sequenceOptions"
                        v-model="form.sequence"
                        type="text"
                        placeholder="Enter business name"
                    ></b-form-select>

                    <b-button type="submit" :disabled="loading" variant="primary">Submit</b-button>
                    <b-button type="reset" :disabled="loading" variant="danger">Reset</b-button>
                    <b-button type="reset" :disabled="loading" @click="$bvModal.hide('bv-modal-example')">Close
                    </b-button>
                </b-form>
            </div>
        </b-modal>
    </div>
</template>

<script>
export default {
    name: "contacts",

    data() {
        return {
            form: {
                email: '',
                name: '',
                group: '',
                business: '',
                sequence: '',
            },
            search: {
                running: '',
                key: '',
                date: '',
                follow: '',
            },
            page: 1,
            editId: 1,
            editMode: false
        }
    },

    computed: {
        loading: function () {
            return this.$store.getters['adminContacts/isLoading']
        },
        tableData: function () {
            return this.$store.state.adminContacts.data
        },
        tableRecords: function () {
            return this.$store.state.adminContacts.data.data
        },
        sequenceOptions: function () {
            let options = [
                {value: null, text: 'Please select an option'},
            ];
            this.$store.state.adminSequences.data.data.forEach((record) => {
                options.push(
                    {value: record.id, text: record.name},
                )
            })
            return options;
        }
    },

    mounted() {
        this.$store
            .dispatch("adminSequences/index", {
                page: this.page,
                search: this.search.key,
                date: this.search.date,
                running: this.search.running,
                follow: this.search.follow,
            })
        this.getResults()


    },

    methods: {
        // Our method to GET results from a Laravel endpoint
        async getResults(page = 1) {
            this.page = page
            await this.$store
                .dispatch("adminContacts/index", {
                    page: this.page,
                    search: this.search.key,
                    date: this.search.date,
                    running: this.search.running,
                    follow: this.search.follow,
                })
        },
        async onSubmitSearch(event) {
            event.preventDefault();
            await this.getResults();
        },
        async onSubmitForm(event) {
            event.preventDefault()
            if (this.editMode) {
                await this.$store
                    .dispatch("adminContacts/update", {
                        email: this.form.email,
                        name: this.form.name,
                        sequence: this.form.sequence,
                        group: this.form.group,
                        business: this.form.business,
                        id: this.editId,
                    })
                    .then((response) => {
                        this.getResults(this.page);
                        this.form = {
                            email: '',
                            name: '',
                            group: '',
                            business: '',
                            sequence: '',
                        }
                        this.editMode = false
                        this.editId = 0
                        this.show_msg(response.data.message)
                    })
                    .catch((err) => {
                        this.show_msg(err.response.data.message, "error")
                    })

            } else {
                await this.$store
                    .dispatch("adminContacts/create", {
                        email: this.form.email,
                        name: this.form.name,
                        sequence: this.form.sequence,
                        group: this.form.group,
                        business: this.form.business,
                    })
                    .then((response) => {
                        this.getResults();
                        this.form = {
                            email: '',
                            name: '',
                            group: '',
                            business: '',
                            sequence: '',
                        }
                        this.show_msg(response.data.message)
                    })
                    .catch((err) => {
                        this.show_msg(err.response.data.message, "error")
                    })
            }
        },
        async onEditItem(event, item) {
            event.preventDefault()
            this.editMode = true;
            this.form.name = item.name
            this.form.email = item.email
            this.form.business = item.business_name
            this.form.sequence = item.sequence_id
            this.form.group = item.group_name
            this.editId = item.id
            this.$bvModal.show('bv-modal-example')
        },
        async onSubmitRun(event, item) {
            event.preventDefault()
            await this.$store
                .dispatch("adminContacts/update", {
                    email: item.email,
                    name: item.name,
                    group: item.group,
                    business: item.business_name,
                    sequence: item.sequence_id,
                    running: true,
                    id: item.id,
                })
                .then((response) => {
                    this.getResults(this.page);
                    this.show_msg(response.data.message)
                })
                .catch((err) => {
                    this.show_msg(err.response.data.message, "error")
                })
        },
        async onSubmitStop(event, item) {
            event.preventDefault()
            await this.$store
                .dispatch("adminContacts/update", {
                    email: item.email,
                    name: item.name,
                    group: item.group,
                    business: item.business_name,
                    sequence: item.sequence_id,
                    running: false,
                    id: item.id,
                })
                .then((response) => {
                    this.getResults(this.page);
                    this.show_msg(response.data.message)
                })
                .catch((err) => {
                    this.show_msg(err.response.data.message, "error")
                })
        },
        async onResetAddContact() {
            this.form = {
                email: '',
                name: '',
                group: '',
                business: '',
            }
            this.editId = 0
            this.editMode = false
        }
    }
}
</script>

<style scoped>

</style>
