<template>
    <div class="container-fluid">

        <div class="row">
            <div class="col-12">
                <h3>Home</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-lg-6">

                <div class="card bg-gray">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-6 col-lg-6" v-for="(item,key) in dashboardData.followups">
                                <div class="d-flex p-1 justify-content-between align-items-center">
                                    <span>{{ item.follow_up }} follow up</span>
                                    <span class="text-success">{{ item.total }}</span>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
            <div class="col-12 col-lg-3">
                <div class="widget">
                    <h6 class="text-success">Total contacts</h6>
                    <span class="">{{ dashboardData.contacts.total }}</span>
                </div>
            </div>
            <div class="col-12 col-lg-3">
                <div class="widget">
                    <h6 class="text-success">Today contacts</h6>
                    <span class="">{{ dashboardData.contacts.today }}</span>
                </div>
            </div>
        </div>

        <div class="row mt-2 mt-lg-5">
            <div class="col-12">

                <div class="card bg-gray">
                    <div class="card-body">

                        <div class="widget__templates">
                            <img src="/assets/images/home%20image.svg">
                            <div>
                                <h4>Send exactly what your contacts want to see</h4>
                                <p>
                                    What happens when you need to send different messages to different
                                    audiences? Segmentation and
                                    dynamic content make it easy to customize your message and send targeted
                                    emails to exactly the right
                                    contact.
                                </p>

                                <div class="text-right">
                                    <router-link to="templates" class="btn btn-success">UPDATE YOUR TEMPLATES
                                    </router-link>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: "dashboard",

    created() {
        this.$store.dispatch('adminDashboard/index')
    },

    computed: {
        dashboardData: function () {
            return this.$store.state.adminDashboard.data;
        }
    }
}
</script>

<style scoped>

</style>
