<template>
    <div class="container-fluid">

        <div class="row">
            <div class="col-12">
                <h3>Library</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-lg-3">
                <b-form @submit="onSubmitUpload" @reset="onResetForm">
                    <b-form-group
                        id="input-group-3"
                        label="Feature image"
                        label-for="input-3"
                    >
                        <b-form-file
                            id="input-3"
                            v-model="file"
                            placeholder="Upload image"
                        ></b-form-file>
                    </b-form-group>

                    <b-button type="submit" :disabled="loading" variant="primary">Upload</b-button>
                    <b-button type="reset" :disabled="loading" variant="danger">Reset</b-button>
                </b-form>
            </div>
            <div class="col-12 col-lg-9">
                <div class="d-flex justify-content-start flex-wrap">

                    <div class="image-card" v-for="(item,key) in tableRecords">
                        <img class="" :src="item.url"/>
                        <a href="javascript:void(0)"
                           class="btn rounded-0 btn-block btn-sm text-white btn-info"
                           @click="onCopyToClipboard($event,item)"> Copy url </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: "library",

    data() {
        return {
            file: null,
            page: 1,
        }
    },

    computed: {
        loading: function () {
            return this.$store.getters['adminMedia/isLoading']
        },
        tableData: function () {
            return this.$store.state.adminMedia.records
        },
        tableRecords: function () {
            return this.$store.state.adminMedia.records.data
        }
    },

    mounted() {
        this.getResults()
    },

    methods: {
        async getResults(page = 1) {
            this.page = page
            await this.$store
                .dispatch("adminMedia/index", {
                    page: this.page,
                })
        },
        async onSubmitUpload(event) {
            event.preventDefault()
            if (this.file === null) {
                this.show_msg('File is required.')
                return;
            }
            await this.$store.dispatch("adminMedia/upload", {
                file: this.file
            }).then((response) => {
                this.getResults()
            })
        },
        async onResetForm() {
            this.file = null
        },
        async onCopyToClipboard(event, item) {
            this.$copyText(item.url).then(function (e) {
                this.show_msg('Copied', 'success')
            }, function (e) {
                this.show_msg('Can not copy', 'error');
            })
        }
    }
}
</script>

<style scoped>
.image-card {
    width: 150px;
    height: auto;
    margin-right: 5px;
    margin-bottom: 10px;

}

.image-card img {
    width: 100%;
    height: auto;
}
</style>
