<template>

    <div class="container-fluid">

        <div class="row">
            <div class="col-12">
                <h3>Sequences</h3>
            </div>
        </div>
        <div class="row my-3">
            <div class="col-12">
                <div class="d-flex justify-content-between">
                    <div>
                        <div class="d-flex justify-content-between">
                            <b-form-input
                                v-model="search.key"
                                type="text"
                                v-on:keypress.enter="onSubmitSearch"
                                placeholder="Search"
                            ></b-form-input>
                            <a @click="onSubmitSearch" class="btn btn-sm btn-outline-success">
                                Search
                            </a>
                        </div>
                    </div>
                    <div>
                        <a @click="$bvModal.show('bv-modal-example')" class="btn btn-sm btn-outline-success">
                            Add Sequence
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-2 mt-lg-5">
            <div class="col-12">

                <div class="table">
                    <div class="table-body">
                        <div class="table-row" v-for="(item,key) in tableRecords">
                            <div class="table-col">
                                {{ item.name }}
                            </div>
                            <div class="table-col">
                                {{ item.max_follow_count }}
                            </div>
                            <div class="table-col">
                                {{ item.created_at | moment("MMMM d, Y") }}
                            </div>
                            <div class="table-col">
                                <a href="javascript:void(0)"
                                   class="btn btn-sm btn-info text-white" @click="onEditItem($event,item)"> Edit </a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <pagination :data="tableData" @pagination-change-page="getResults"></pagination>
            </div>
        </div>

        <b-modal id="bv-modal-example" hide-footer>
            <template #modal-title>
                Add Contact
            </template>
            <div class="d-block">
                <b-form @submit="onSubmitForm" @reset="onResetAddContact">
                    <b-form-group id="input-group-2" label="Your Name:" label-for="input-2">
                        <b-form-input
                            id="input-2"
                            v-model="form.name"
                            placeholder="Enter name"
                            required
                        ></b-form-input>
                    </b-form-group>
                    <b-form-group id="input-group-2" label="Max Follow up:" label-for="input-3">
                        <b-form-input
                            id="input-3"
                            v-model="form.follow"
                            placeholder="Enter Max Follow up"
                            required
                        ></b-form-input>
                    </b-form-group>

                    <b-button type="submit" :disabled="loading" variant="primary">Submit</b-button>
                    <b-button type="reset" :disabled="loading" @click="$bvModal.hide('bv-modal-example')">Close
                    </b-button>
                </b-form>
            </div>
        </b-modal>
    </div>
</template>

<script>
export default {
    name: "sequences",

    data() {
        return {
            page: 1,
            search: {
                key: '',
            },
            form: {
                name: '',
                follow: 1,
            },
        }
    },

    computed: {
        loading: function () {
            return this.$store.getters['adminSequences/isLoading']
        },
        tableData: function () {
            return this.$store.state.adminSequences.data
        },
        tableRecords: function () {
            return this.$store.state.adminSequences.data.data
        }
    },

    mounted() {
        this.getResults()
    },

    methods: {
        // Our method to GET results from a Laravel endpoint
        async getResults(page = 1) {
            this.page = page
            await this.$store
                .dispatch("adminSequences/index", {
                    page: this.page,
                    search: this.search.key,
                })
        },
        async onSubmitSearch(event) {
            event.preventDefault();
            await this.getResults();
        },
        async onSubmitForm(event) {
            event.preventDefault()
            if (this.editMode) {
                await this.$store
                    .dispatch("adminSequences/update", {
                        name: this.form.name,
                        follow: this.form.follow,
                        id: this.editId,
                    })
                    .then((response) => {
                        this.getResults();
                        this.form = {
                            name: '',
                            follow: 1,
                        }
                        this.editMode = false
                        this.editId = 0
                        this.show_msg(response.data.message)
                    })
                    .catch((err) => {
                        this.show_msg(err.response.data.message, "error")
                    })

            } else {

                await this.$store
                    .dispatch("adminSequences/create", {
                        name: this.form.name,
                        follow: this.form.follow,
                    })
                    .then((response) => {
                        this.getResults();
                        this.form = {
                            name: '',
                            follow: 1,
                        }
                        this.show_msg(response.data.message)
                    })
                    .catch((err) => {
                        this.show_msg(err.response.data.message, "error")
                    })
            }
        },
        async onEditItem(event, item) {
            event.preventDefault()
            this.editMode = true;
            this.form.name = item.name
            this.form.follow = item.max_follow_count
            this.editId = item.id
            this.$bvModal.show('bv-modal-example')
        },
        async onResetAddContact() {
            this.form = {
                name: '',
                follow: 1,
            }
            this.editId = 0
            this.editMode = false
        }
    }
}
</script>

<style scoped>

</style>
