<template>
    <div class="container-fluid">

        <div class="row">
            <div class="col-12">
                <h3>Settings</h3>
            </div>
        </div>

        <b-form @submit="onSubmitSaveSetting">
<!--            <b-form-group id="input-group-1" label="Number of follow up:" label-for="input-1">-->
<!--                <b-form-input-->
<!--                    id="input-1"-->
<!--                    v-model="form.numberOfFollow"-->
<!--                    type="number"-->
<!--                    required-->
<!--                ></b-form-input>-->
<!--            </b-form-group>-->
            <b-form-group id="input-group-2" label="Smtp host:" label-for="input-2">
                <b-form-input
                    id="input-2"
                    v-model="form.smtpHost"
                    type="text"
                    required
                ></b-form-input>
            </b-form-group>
            <b-form-group id="input-group-3" label="Smtp port:" label-for="input-3">
                <b-form-input
                    id="input-3"
                    v-model="form.smtpPort"
                    type="number"
                    required
                ></b-form-input>
            </b-form-group>
            <b-form-group id="input-group-4" label="Smtp encryption:" label-for="input-4">
                <b-form-input
                    id="input-2"
                    v-model="form.smtpEncryption"
                    type="text"
                ></b-form-input>
            </b-form-group>
            <b-form-group id="input-group-5" label="Smtp username:" label-for="input-5">
                <b-form-input
                    id="input-2"
                    v-model="form.smtpUsername"
                    type="text"
                    required
                ></b-form-input>
            </b-form-group>
            <b-form-group id="input-group-6" label="Smtp password:" label-for="input-6">
                <b-form-input
                    id="input-2"
                    v-model="form.smtpPassword"
                    type="password"
                    required
                ></b-form-input>
            </b-form-group>
            <b-form-group id="input-group-7" label="Smtp from name:" label-for="input-7">
                <b-form-input
                    id="input-2"
                    v-model="form.smtpFromName"
                    type="text"
                    required
                ></b-form-input>
            </b-form-group>
            <b-form-group id="input-group-8" label="Smtp from address:" label-for="input-8">
                <b-form-input
                    id="input-2"
                    v-model="form.smtpFromAddress"
                    type="text"
                    required
                ></b-form-input>
            </b-form-group>
            <b-button type="submit" :disabled="loading || uploading" variant="success">Submit</b-button>
        </b-form>
    </div>
</template>

<script>
export default {
    name: "settings",

    data() {
        return {
            form: {
                numberOfFollow: 0,
                smtpHost: 'localhost',
                smtpPort: 2525,
                smtpUsername: '',
                smtpPassword: '',
                smtpEncryption: '',
                smtpFromAddress: '',
                smtpFromName: '',
            }
        }
    },

    async created() {
        await this.$store.dispatch("adminOptions/index").then(() => {
            this.initData();
        })
    },

    computed: {
        loading: function () {
            return this.$store.getters['adminOptions/isLoading']
        },
        uploading: function () {
            return this.$store.getters['adminOptions/isLoading']
        },
        options: function () {
            return this.$store.state.adminOptions.data;
        }
    },

    methods: {
        async initData() {
            this.form.numberOfFollow = this.options.numberOfFollow
            this.form.smtpHost = this.options.smtpHost
            this.form.smtpPort = this.options.smtpPort
            this.form.smtpUsername = this.options.smtpUsername
            this.form.smtpPassword = this.options.smtpPassword
            this.form.smtpEncryption = this.options.smtpEncryption
            this.form.smtpFromAddress = this.options.smtpFromAddress
            this.form.smtpFromName = this.options.smtpFromName
        },
        async onSubmitSaveSetting(event) {
            event.preventDefault();
            await this.$store.dispatch('adminOptions/update', this.form)
                .then((response) => {
                    this.show_msg(response.data.message, "success");
                })
                .catch((err) => {
                    this.show_msg(err.response.data.message, "error");
                });
        }
    }
}
</script>

<style scoped>

</style>
