<template>
    <div class="container-fluid">

        <div class="row">
            <div class="col-12">
                <h3>Templates</h3>
            </div>
        </div>

        <div class="row mt-2 mt-lg-5">
            <div class="col-12">

                <div class="row">
                    <div class="col-12 col-lg-3 mb-3" v-for="(item,key) in tableRecords">
                        <a href="javascript:void(0)" @click="onEditItem($event,item)">

                            <div class="card rounded">
                                <div class="card-body">
                                    <img :src="item.media.url" class=" img-fluid">
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-12 col-lg-3">
                        <a href="javascript:void(0)" @click="$bvModal.show('bv-modal-example')">

                            <div class="card rounded">
                                <div class="card-body">
                                    <img src="/assets/images/add icon.svg" height="100" class="d-block my-auto mx-auto">
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <pagination :limit="5" :data="tableData" @pagination-change-page="getResults"></pagination>
            </div>
        </div>

        <b-modal id="bv-modal-example" class="modal-lg" hide-footer>
            <template #modal-title>
                Add Contact
            </template>
            <div class="d-block">
                <b-form @submit="onSubmitForm" @reset="onResetForm">
                    <b-form-group id="input-group-1" label="Email subject:" label-for="input-1">
                        <b-form-input
                            id="input-1"
                            v-model="form.name"
                            placeholder="Enter subject"
                            required
                        ></b-form-input>
                    </b-form-group>

                    <b-form-group
                        id="input-group-2"
                        label="Template"
                        label-for="input-2"
                    >
                        <b-form-textarea
                            rows="12"
                            id="input-2"
                            v-model="form.template"
                            placeholder="Enter html code"
                            required
                        ></b-form-textarea>
                    </b-form-group>
                    <b-form-group
                        id="input-group-3"
                        label="Feature image"
                        label-for="input-3"
                    >
                        <b-form-file
                            id="input-3"
                            v-model="form.file"
                            placeholder="upload image"
                            :required="!editMode"
                        ></b-form-file>
                    </b-form-group>
                    <b-form-group
                        id="input-group-4"
                        label="Sequence"
                        label-for="input-4"
                    >
                        <b-form-select
                            id="input-4"
                            :options="sequenceOptions"
                            v-model="form.sequence"
                            type="text"
                            placeholder="Select Sequence"
                        ></b-form-select>
                    </b-form-group>
                    <b-form-group v-if=" form.sequence !== ''"
                                  id="input-group-4"
                                  label="Order"
                                  label-for="input-4"
                    >
                        <b-form-select
                            id="input-4"
                            :options="orderItems"
                            v-model="form.order"
                            type="text"
                            placeholder="Select Order"
                        ></b-form-select>
                    </b-form-group>


                    <b-button type="submit" :disabled="loading || uploading" variant="primary">Submit</b-button>
                    <b-button type="reset" :disabled="loading || uploading" variant="danger" v-if="editMode === false">
                        Reset
                    </b-button>
                    <b-button type="button" @click="onRemoveClick" :disabled="loading || uploading" variant="danger"
                              v-if="editMode === true">Remove
                    </b-button>
                    <b-button type="reset" :disabled="loading || uploading" @click="$bvModal.hide('bv-modal-example')">
                        Close
                    </b-button>
                </b-form>
            </div>
        </b-modal>

    </div>
</template>

<script>
import sequences from "./sequences";

export default {
    name: "templates",

    data() {
        return {
            form: {
                template: '',
                name: '',
                sequence: '',
                order: '',
                file: null,
                fileId: 0,
            },
            orderItems: [],
            page: 1,
            editId: 1,
            editMode: false
        }
    },

    computed: {
        loading: function () {
            return this.$store.getters['adminTemplates/isLoading']
        },
        uploading: function () {
            return this.$store.getters['adminMedia/isLoading']
        },
        tableData: function () {
            return this.$store.state.adminTemplates.data
        },
        tableRecords: function () {
            return this.$store.state.adminTemplates.data.data
        },
        sequenceItems: function () {
            return this.$store.state.adminSequences.data.data;
        },
        sequenceOptions: function () {
            try {

                let options = [
                    {value: null, text: 'Please select an option'},
                ];
                this.sequenceItems.forEach((record) => {
                    options.push(
                        {value: record.id, text: record.name},
                    )
                })
                return options;
            } catch (e) {
                return [
                    {value: '', text: 'Please select an option'},
                ];
            }
        }
    },

    mounted() {
        this.$store
            .dispatch("adminSequences/index", {
                page: this.page,
            })
        this.getResults()
    },

    watch: {
        "form.sequence": function (value) {
            let sequenceMaxEmail = '';
            this.sequenceItems.forEach((record) => {
                if (record.id === value) {
                    sequenceMaxEmail = record.max_follow_count
                }
            })
            this.orderItems = [];
            for (let i = 1; i <= sequenceMaxEmail; i++) {
                this.orderItems.push(i);
            }
        }
    },

    methods: {
        // Our method to GET results from a Laravel endpoint
        async getResults(page = 1) {
            this.page = page
            await this.$store
                .dispatch("adminTemplates/index", {
                    page: this.page
                })
        },
        async onEditItem(event, item) {
            event.preventDefault()
            console.log(item);
            this.editMode = true;
            this.form.template = item.template
            this.form.name = item.name
            this.form.sequence = ( item.sequence !== null) ? item.sequence[0] : '';
            this.form.order = ( item.orders !== null) ? item.orders[0] : '';
            this.form.file = null
            this.form.fileId = item.media_id
            this.editId = item.id
            this.$bvModal.show('bv-modal-example')
        },
        async onRemoveClick(event) {
            event.preventDefault();
            if (this.editMode) {
                await this.$store
                    .dispatch("adminTemplates/destroy", this.editId)
                    .then((response) => {
                        this.getResults();
                        this.show_msg(response.data.message)
                    })
                    .catch((err) => {
                        this.show_msg(err.response.data.message, "error")
                    })
            }
        },
        async onSubmitForm(event) {
            event.preventDefault()
            if (this.form.file === null && !this.editMode) {
                this.show_msg('Feature image is required.')
                return;
            }
            if (this.form.file !== null) {
                await this.$store.dispatch("adminMedia/upload", {
                    file: this.form.file
                }).then((response) => {
                    this.form.fileId = response.data.id
                })
            }
            if (this.editMode) {
                await this.$store
                    .dispatch("adminTemplates/update", {
                        name: this.form.name,
                        template: this.form.template,
                        media: this.form.fileId,
                        sequence: this.form.sequence,
                        orders: this.form.order,
                        id: this.editId,
                    })
                    .then((response) => {
                        this.getResults();
                        this.show_msg(response.data.message)
                    })
                    .catch((err) => {
                        this.show_msg(err.response.data.message, "error")
                    })
            } else {
                await this.$store
                    .dispatch("adminTemplates/create", {
                        name: this.form.name,
                        template: this.form.template,
                        sequence: this.form.sequence,
                        media: this.form.fileId,
                    })
                    .then((response) => {
                        this.getResults();
                        this.form = {
                            name: '',
                            template: '',
                            sequence: '',
                            file: null,
                            fileId: 0,
                        }
                        this.show_msg(response.data.message)
                    })
                    .catch((err) => {
                        this.show_msg(err.response.data.message, "error")
                    })
            }

        },
        async onResetForm() {
            this.form = {
                email: '',
                name: '',
            }
            this.editId = 0
            this.editMode = false
        }
    }
}
</script>

<style scoped>
.card {
    box-shadow: 1px 1px 5px #e3e3e3;
    min-height: 180px;
    background: #f3f3f3;
}
</style>
