<template>
    <div>
        <div class="nav-wrap">
            <div class="logo">
                <img src="/assets/images/logo%20.svg" class="img-fluid">
            </div>
        </div>

        <nav class="nav-links">
            <router-link to="dashboard" class="link-item" active-class="active"><img src="/assets/images/home.svg"
                                                                                     height="16"> <span>Home</span>
            </router-link>
            <router-link to="contacts" class="link-item" active-class="active"><img src="/assets/images/contacts.svg"
                                                                                    height="16"> <span>Contacts</span>
            </router-link>
            <router-link to="sequences" class="link-item" active-class="active"><img src="/assets/images/sequence.svg"
                                                                                    height="16"> <span>Sequences</span>
            </router-link>
            <router-link to="templates" class="link-item" active-class="active"><img src="/assets/images/template.svg"
                                                                                     height="16"> <span>Templates</span>
            </router-link>
            <router-link to="library" class="link-item" active-class="active"><img src="/assets/images/library.svg"
                                                                                    height="16"> <span>Library</span>
            </router-link>
            <router-link to="settings" class="link-item" active-class="active"><img src="/assets/images/setting.svg"
                                                                                    height="16"> <span>Settings</span>
            </router-link>


            <a href="javascript:void(0)" @click="logout" class="link-item link-bottom"><img src="/assets/images/log%20out%20.svg"
                                                                            height="16">
                <span>Logout</span></a>
        </nav>

    </div>
</template>

<script>
export default {
    name: "Navigation",
    methods: {
        async logout(event) {
            event.preventDefault();
            this.$store.dispatch('adminAuth/logout')
                .then(() => {
                    this.$router.push("/");
                })
                .catch((err) => {
                    this.show_msg(err.response.data.message, "error");
                });
        }
    }
}
</script>

<style scoped>

</style>
