@import "assets/css/bootstrap.min.css";

body {
    color: #2e4765;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
}

a {
    color: #638f6b !important;
}

a:hover {
    color: #1e3423 !important;
}

.pagination-page-nav.active a {
    background: #638f6b !important;
    color: #fff !important;
    border-color: #638f6b !important;
}

.logo {
    text-align: right;
}

.logo img {
    max-width: 200px;
}

.left-nav {
    min-width: 18%;
    position: fixed;
    top: 0;
    left: 0;
    min-height: 100vh;
    background: #f6f6f6;
}

.nav-wrap {
    padding: 10% 28px 18px;
}

.nav-links {
    margin-top: 30px;
    margin-left: 15%;
}

.nav-links .link-item {
    display: block;
    padding: 10px 15px;
    font-size: 1.2rem;
    vertical-align: middle;
    color: #2e4765;
    margin-bottom: 10px;
    cursor: pointer;
}

.nav-links .link-item img {
    float: left;
    vertical-align: middle;
    margin-top: 2px;
    margin-right: 8px;
    height: 23px !important;
}

.nav-links .link-item.active {
    background: #bdeecd;
    border-left: 5px solid #1c7430;
}

.nav-links .link-item.link-bottom {
    position: absolute;
    bottom: 18px;
}


.main-wrap {
    margin-left: 18%;
}

.main-wrap__body {
    padding: 4% 50px;
}

.card {
    border-radius: 15px;
    border: 0;
}

.bg-gray {
    background: #f6f6f6;
}

.widget {
    border-radius: 15px;
    background: #d0efd5;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    justify-content: center;
    align-items: center;
    padding: 15px;
    font-size: 2.5rem;
    font-weight: 700;
}

.widget h6 {
    font-size: 1.2rem;
}

.widget__templates {
    display: block;
    position: relative;
}

.widget__templates img {
    float: left;
    width: 280px;
    position: relative;
    margin: -40px 20px -50px -40px;
}

.btn-success {
    background: #b0d9b7;
    border: 1px solid #638f6b;
}

.btn-outline-success {
    background: transparent;
    border: 1px solid #638f6b;
}

.btn-disabled {
    background: #eaeaea;
    border: 1px solid #999999;
    color: #999999 !important;
}


.table {
    display: block;
    width: 100%;
}

.table .table-row {
    width: 100%;
    display: flex;
    padding: 0 10px;
    justify-content: space-between;
    align-items: center;
    background: #f6f6f6;
    border-radius: 15px;
    margin-bottom: 10px;
}

.table .table-col {
    font-size: 13px;
    width: 10.50% !important;
    padding: 10px 0;
    text-align: left;
}

.table .table-col:nth-child(2) {
    width: 24.40% !important;
}

