.table {
    display: block;
    width: 100%;
}

.table .table-row {
    width: 100%;
    display: flex;
    padding: 0 10px;
    justify-content: space-between;
    align-items: center;
    background: #f6f6f6;
    border-radius: 15px;
    margin-bottom: 10px;
}

.table .table-col {
    font-size: 13px;
    width: 16.40% !important;
    padding: 10px 0;
    text-align: center;
}
