<template>
    <div class="auth-wrapper">
        <!-- Heading -->
        <h1 class="font-bold text-center">Email Marketting</h1>

        <!-- Text -->
        <p class="text-center mb-6">Welcome to the Email Marketing.</p>
        <!-- Form -->
        <form class="mb-6" method="post" novalidate @submit="login">
            <!-- Email -->
            <div class="form-group">
                <label for="username" class="sr-only">Your Name</label>
                <input
                    type="text"
                    class="form-control form-control-lg"
                    v-model="username"
                    id="username"
                    placeholder="Enter your username"
                />
            </div>

            <!-- Password -->
            <div class="form-group">
                <label for="password" class="sr-only">Password</label>
                <input
                    type="password"
                    class="form-control form-control-lg"
                    v-model="password"
                    id="password"
                    placeholder="Enter your passkey"
                />
            </div>

            <!-- Submit -->
            <button class="btn btn-lg btn-block btn-success" :disabled="loading" type="submit">
                <div v-if="loading">
                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                    <span class="sr-only">Loading...</span>
                </div>
                <div v-if="!loading">Enter</div>
            </button>
        </form>
    </div>
</template>
<script>
export default {
    name: "login",

    data() {
        return {
            username: '',
            password: '',

        }
    },
    mounted() {
        if (this.$store.getters["adminAuth/isAuthenticated"])
            this.$router.push("/dashboard");
    },
    computed: {
        loading: function () {
            return this.$store.state.adminAuth.loading === "loading";
        },
    },

    methods: {
        async login(event) {
            if (event !== undefined) event.preventDefault();
            await this.$store
                .dispatch("adminAuth/login", {
                    username: this.username,
                    password: this.password,
                })
                .then(() => {
                    this.$router.push("/dashboard");
                })
                .catch((err) => {
                    this.show_msg(err.response.data.message, "error");
                });
        },
    },
};
</script>
<style scoped>

.auth-wrapper{
    margin-top: 15%;
    background: #f6f6f6;
    border-radius: 30px;
    padding: 60px 50px;
}
</style>
