<template>

    <div class="wrapper">

        <div class="left-nav">
            <navigation></navigation>
        </div>

        <main class="main-wrap">
            <div class="main-wrap__body">
                <slot></slot>
            </div>
        </main>

    </div>
</template>

<script>
import Navigation from "../components/Admin/Navigation";

export default {
    name: "admin",
    components: {Navigation}
}
</script>

<style scoped>


</style>
